In [15]:
import numpy as np
import pandas as pd
import torch

In [21]:
df = pd.read_parquet('data/sst5/fine_tuned/0730/sst-5_test.parquet').rename(columns={'label': 'truth', 'vector': 'vectors'})

In [22]:
df.head()

,truth,text,vectors
0,3,Effective but too-tepid biopic,"[0.038237374275922775, -0.031992826610803604, ..."
1,4,If you sometimes like to go to the movies to h...,"[0.0016666606534272432, 0.023446667939424515, ..."
2,5,"Emerges as something rare , an issue movie tha...","[-0.015160510316491127, -0.013772879727184772,..."
3,3,The film provides some great insight into the ...,"[0.014632036909461021, 0.0019820253364741802, ..."
4,5,Offers that rare combination of entertainment ...,"[0.0037426836788654327, 0.008693324401974678, ..."

In [23]:
df.to_parquet('data/sst5/fine_tuned/0730/sst-5_test.parquet')